<div class="container">
    <h1>Course Lists</h1>

    <div class="courses">
        <span>Courses: </span>
        <mat-form-field class="form-group">
            <mat-label>Group</mat-label>
            <mat-select>
                <mat-option (click)="chonNhom(maNhom)" *ngFor="let maNhom of mangMaNhom" value="{{ maNhom }}">
                    {{ maNhom }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field class="search">
        <input (keyup)="applySearch($event)" matInput placeholder="Search">
    </mat-form-field>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


    <table mat-table [dataSource]="mangKhoaHoc" matSort class="mat-elevation-z8">
        <!-- taiKhoan -->
        <ng-container matColumnDef="maKhoaHoc">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Course Codes</th>
            <td mat-cell *matCellDef="let course">{{ course.maKhoaHoc }}</td>
        </ng-container>

        <!-- email -->
        <ng-container matColumnDef="tenKhoaHoc">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Course Name</th>
            <td mat-cell *matCellDef="let course">{{ course.tenKhoaHoc }}</td>
        </ng-container>

        <!-- maLoaiNguoiDung -->
        <ng-container matColumnDef="danhMucKhoaHoc">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Course Directories</th>
            <td mat-cell *matCellDef="let course">{{ course.danhMucKhoaHoc.maDanhMucKhoahoc}} - {{ course.danhMucKhoaHoc.tenDanhMucKhoaHoc}}</td>
        </ng-container>

        <!-- hoTen -->
        <ng-container matColumnDef="hinhAnh">
            <th mat-header-cell *matHeaderCellDef>Images</th>
            <td mat-cell *matCellDef="let course">
                <img src={{course.hinhAnh}} alt="">
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
