<app-intro>
</app-intro>

<div class="courses">
    <span>Courses: </span>
    <mat-form-field class="form-group">
        <mat-label>Group</mat-label>
        <mat-select>
            <mat-option (click)="chonNhom(maNhom)" *ngFor="let maNhom of mangMaNhom" value="{{ maNhom }}">
                {{ maNhom }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>



<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start" class="container">
    <ng-container *ngFor="let course of courseList">
        <app-card fxFlex="0 1 calc(32% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">

            <!-- truyền khóa học từ course trong component in Home -->
            <app-course [course]="course"></app-course>


        </app-card>
    </ng-container>
</div>
