@import '../../../assets/scss/container.scss';
.courses {
    text-align: center;
    padding-top: 5rem;
    span {
        font-size: 2rem;
        color: #0056d2;
    }
    mat-form-field {
        font-size: 1rem;
    }
}

img {
    width: 250px !important;
    height: 250px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    .example-header-image {
        background-size: cover;
    }
}

mat-card {
    margin: 0 1rem;
    background-color: #d6edf6;
}

.owl-nav {
    position: absolute !important;
}
