@import '../../../assets/scss/container.scss';

button {
    background-color: #0056d2;
    color: white;
}

// app-card {
//     padding: 1rem;
//     margin: 0.5rem;
// }
.courses {
    text-align: center;
    padding-top: 5rem;
    span {
        font-size: 2rem;
        color: #0056d2;
    }
    mat-form-field {
        font-size: 1rem;
    }
}

img {
    width: 300px !important;
    height: 300px !important;
}
