<app-intro>
</app-intro>

<div class="courses">
    <span>Courses: </span>
    <mat-form-field class="form-group">
        <mat-label>Group</mat-label>
        <mat-select>
            <mat-option (click)="chonNhom(maNhom)" *ngFor="let maNhom of mangMaNhom" value="{{ maNhom }}">
                {{ maNhom }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>


<!-- truyền khóa học từ course trong component in Home -->
<!-- <app-course [course]="course"></app-course> -->


<!-- <ng-container *ngFor="let course of courseList"></ng-container> -->


<div class="container">
    <div>Some tags before</div>

    <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let course of courseList" class="carouselSlide">
            <ng-template carouselSlide>
                <img [src]="course.hinhAnh">
                <p>{{course.moTa | shortcut}}</p>
            </ng-template>
        </ng-container>

    </owl-carousel-o>
    <div>Some tags after</div>

</div>