<app-intro>
</app-intro>

<div class="courses">
    <span>Courses: </span>
    <mat-form-field class="form-group">
        <mat-label>Group</mat-label>
        <mat-select>
            <mat-option (click)="chonNhom(maNhom)" *ngFor="let maNhom of mangMaNhom" value="{{ maNhom }}">
                {{ maNhom }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>


<!-- truyền khóa học từ course trong component in Home -->
<!-- <app-course [course]="course"></app-course> -->


<!-- <ng-container *ngFor="let course of courseList"></ng-container> -->


<div class="container">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let course of courseList">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{course.maKhoaHoc | uppercase | shortcut:9}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{course.hinhAnh}}">
                <mat-card-subtitle>Name: {{course.tenKhoaHoc | uppercase | shortcut:15}}</mat-card-subtitle>
                <mat-card-subtitle>Creation date: {{course.ngayTao}}</mat-card-subtitle>
                <mat-card-content>
                    <p>
                        escription: {{course.moTa | shortcut:15}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="clickDetail()" [routerLink]="['/detail',course.maKhoaHoc]">DETAILS</button>
                    <button mat-raised-button color="primary" (click)="openDialog(course)">Description</button>
                </mat-card-actions>
            </mat-card>
        </ng-template>

    </owl-carousel-o>
    <div>
        <app-course>
        </app-course>
    </div>

</div>
