.container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    h1 {
        text-align: center;
        color: #0056d2;
        padding: 3rem 0;
        font-size: 3rem;
    }
    .example-full-width {
        width: 100%;
    }
    span {
        color: red;
    }
}
