<div class="container">
    <h1>Edit Courses</h1>
    <form [formGroup]="dataService.formeditCourse" (ngSubmit)="editCourse(dataService.formeditCourse.value,imgCourse.files)">

        <div class="controles-container">

            <!-- maKhoaHoc -->
            <mat-form-field class="form-group">
                <mat-label>Course code</mat-label>
                <input matInput required formControlName="maKhoaHoc" />
            </mat-form-field>

            <!-- tenKhoaHoc -->
            <mat-form-field class="form-group">
                <mat-label>Course name</mat-label>
                <input matInput required formControlName="tenKhoaHoc" />
            </mat-form-field>

            <!-- maNhom -->
            <mat-form-field class="form-group">
                <mat-label>Group</mat-label>
                <mat-select formControlName="maNhom">
                    <mat-option *ngFor="let maNhom of mangMaNhom" value="{{ maNhom }}">
                        {{ maNhom }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- luotXem -->
            <mat-form-field class="form-group">
                <mat-label>View</mat-label>
                <input matInput formControlName="luotXem" /></mat-form-field>

            <!-- danhGia -->
            <mat-form-field class="form-group">
                <mat-label>Course review</mat-label>
                <input matInput formControlName="danhGia" /></mat-form-field>

            <!-- ngayTao -->
            <mat-form-field class="form-group" appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="ngayTao">
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <!-- maDanhMucKhoaHoc -->
            <mat-form-field class="form-group">
                <mat-label>Course catalog code</mat-label>
                <input matInput formControlName="maDanhMucKhoaHoc" /></mat-form-field>

            <!-- taiKhoanNguoiTao -->
            <mat-form-field class="form-group">
                <mat-label>Account</mat-label>
                <input matInput formControlName="taiKhoanNguoiTao" /></mat-form-field>

            <!-- moTa -->
            <mat-form-field class="form-group">
                <mat-label>Please leave a description</mat-label>
                <textarea matInput required formControlName="moTa" placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>

            <!-- hinhAnh -->
            <ng-container class="form-group">
                <label for="file">Choose File: </label>
                <input formControlName="hinhAnh" type="file" #imgCourse (change)="imgEditCourse($event)">
                <img style="width:80px; height:80px" [src]="url" *ngIf="url">
                <mat-error [innerHtml]='msg' *ngIf="msg"></mat-error>
            </ng-container>

            <!-- button -->
            <div style="text-align: center;">
                <button mat-raised-button color="primary" type="submit" [disabled]="dataService.formeditCourse.invalid">Submit</button>
            </div>
        </div>

    </form>
</div>
