.example-spacer {
    flex: 1 1 auto;
}

input {
    border: 1px solid black;
    outline: none;
    padding: 0.5rem 6rem;
    margin: 0 2rem;
}

.courseLogo {
    font-size: 2rem;
    color: #0056d2;
}

mat-toolbar {
    background-color: #d6edf6;
    .btnSign {
        color: #0056d2;
        font-size: 1.2rem;
    }
}

// --------------------------------------------------------------------
.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.menuPrimary {
    color: #0056d2;
    background-color: #d6edf6 !important;
}

a:hover,
a:active {
    color: #3f51b5;
}
