<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!isHandset$">
    <mat-toolbar class="menuPrimary">Coursera</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon>library_books</mat-icon> Explore
        <mat-menu #menu="matMenu">
          <span *ngFor="let category of categoryList">
            <button mat-menu-item (click)="closeSideNav()">{{ category.maDanhMuc }} - {{ category.tenDanhMuc }}</button>
          </span>
        </mat-menu>
      </a>

      <a mat-list-item routerLink="/signin" *ngIf="!currentUser" (click)="closeSideNav()">
        <mat-icon>person</mat-icon> Log In
      </a>

      <a mat-list-item routerLink="/signup" *ngIf="!currentUser" (click)="closeSideNav()">
        <mat-icon>person_add</mat-icon> Sign Up
      </a>

      <a mat-list-item color="warn" routerLink="/admin/dash-board" *ngIf="currentUser" (click)="closeSideNav()">
        <mat-icon>supervised_user_circle</mat-icon> Admin
      </a>

      <button mat-button *ngIf="currentUser" style="color: black" [matMenuTriggerFor]="menu1">
        <mat-icon> person_pin</mat-icon> {{ currentUser.hoTen | uppercase }}
        <mat-menu #menu1="matMenu">
          <button mat-menu-item>
            <span routerLink="/infouser">User Infomation</span>
          </button>
          <button mat-menu-item>
            <span (click)="closeSideNav()" (click)="handleLogOut()">Log out</span>
          </button>
        </mat-menu>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="toolBarBig">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <button mat-button routerLink="/"><mat-icon>menu</mat-icon></button>
      </button>
      <span class="courseLogoReposive" *ngIf="isHandset$ | async">
        <img src="../../../assets/image/CourseraLogo.png" alt="">
      </span>
      <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <!-- tool bar 1 -->
        <mat-toolbar >
          <mat-toolbar-row fxLayoutAlgin="space-between center">
              <button class="courseLogo" mat-button routerLink="/">
                <img src="../../../assets/image/CourseraLogo.png" alt="">
              </button>


            <!-- Explore -->
            <span>
              <button color="primary" mat-raised-button [matMenuTriggerFor]="menu">
                Explore
              </button>
              <mat-menu #menu="matMenu">
                <span *ngFor="let category of categoryList">
                  <button mat-menu-item>{{ category.maDanhMuc }} - {{ category.tenDanhMuc }}</button>
                </span>
              </mat-menu>
            </span>
            <!-- Explore -->

            <!-- search -->
            <input (keyup)="applySearch()" *ngIf="!deviceXs" type="text" placeholder="What do you learn?"
              [(ngModel)]="searchKey" />
            <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey" (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>

            <!-- search -->
            <span class="example-spacer"></span>
            <span>
              <button class="btnSign" mat-button routerLink="/signin" *ngIf="!currentUser">
                Log In
              </button>
              <button color="primary" mat-raised-button routerLink="/signup" *ngIf="!currentUser">
                Sign Up
              </button>

              <!-- admin -->
              <button mat-raised-button color="warn" routerLink="/admin/dash-board" *ngIf="currentUser">
                Admin
              </button>
              <!-- admin -->

              <button mat-button *ngIf="currentUser" style="color: black" [matMenuTriggerFor]="menu1">
                Welcome: {{ currentUser.hoTen | uppercase}}

                <mat-menu #menu1="matMenu">
                  <button mat-menu-item>
                    <span routerLink="/infouser">User Infomation</span>
                  </button>
                  <button mat-menu-item>
                    <span (click)="handleLogOut()">Log out</span>
                  </button>
                </mat-menu>
              </button>
            </span>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
    </div>
    <mat-progress-bar mode="buffer"></mat-progress-bar>

    <!-- Add Content Here -->
    <!-- di chuyển router-outlet và app-footer từ client vào -->
    <main>
      <router-outlet> </router-outlet>
      <app-footer></app-footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
