<ng-container *ngIf="!noInfo else infoUser">
    <div class="backGroundsignUp">
        <div class="wrapSignUp">
            <div class="container">
                <h1>Sign Up</h1>
                <form [formGroup]="dataService.form" (ngSubmit)="handleSignIn()">

                    <div class="controles-container">
                        <!-- <input type="hidden" formControlName="$key"> -->
                        <!-- taiKhoan -->
                        <mat-form-field class="form-group">
                            <mat-label>Account</mat-label>
                            <input matInput required formControlName="taiKhoan" />
                            <mat-error *ngIf="dataService.form.controls['taiKhoan'].errors?.required">Do not empty!!!</mat-error>
                            <mat-error *ngIf="dataService.form.controls['taiKhoan'].errors?.minlength">Just 3 to 15 characters</mat-error>
                        </mat-form-field>

                        <!-- matKhau -->
                        <mat-form-field class="form-group">
                            <mat-label>Password</mat-label>
                            <input matInput required formControlName="matKhau" />
                            <mat-error *ngIf="dataService.form.controls['matKhau'].errors?.required">Do not empty!!!</mat-error>
                            <mat-error *ngIf="dataService.form.controls['matKhau'].errors?.pattern">At least 9 characters in length, Lowercase letters, Uppercase letters, Numbers, Special characters</mat-error>
                        </mat-form-field>

                        <!-- Confirm Mật Khẩu -->
                        <mat-form-field class="form-group">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput required formControlName="conFirmMatKhau" />
                            <mat-error *ngIf=" dataService.form.controls['conFirmMatKhau']?.hasError('matching')
                            && dataService.form.controls['conFirmMatKhau']?.touched">
                                Password Not Match
                            </mat-error>
                        </mat-form-field>

                        <!-- hoTen -->
                        <mat-form-field class="form-group">
                            <mat-label>User Name</mat-label>
                            <input matInput required formControlName="hoTen" />
                            <mat-error *ngIf="dataService.form.controls['hoTen'].errors?.required">Do not empty!!!</mat-error>
                            <mat-error *ngIf="dataService.form.controls['hoTen'].errors?.minlength">Just 3 to 15 characters</mat-error>
                        </mat-form-field>

                        <!-- maNhom -->
                        <mat-form-field class="form-group">
                            <mat-label>Group</mat-label>
                            <mat-select required formControlName="maNhom">
                                <mat-option *ngFor="let maNhom of mangMaNhom" value="{{ maNhom }}">
                                    {{ maNhom }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- email -->
                        <mat-form-field class="form-group">
                            <mat-label>Email</mat-label>
                            <input matInput required formControlName="email" />
                            <mat-error *ngIf="dataService.form.controls['email'].errors?.required">Do not empty!!!</mat-error>
                            <mat-error *ngIf="dataService.form.controls['email'].errors?.pattern">Email is invalid</mat-error>
                        </mat-form-field>

                        <!-- soDT -->
                        <mat-form-field class="form-group">
                            <mat-label>Phone</mat-label>
                            <input matInput required formControlName="soDT" />
                            <mat-error *ngIf="dataService.form.controls['soDT'].errors?.required">Do not empty!!!</mat-error>
                            <mat-error *ngIf="dataService.form.controls['soDT'].errors?.pattern">Just Numbers</mat-error>
                        </mat-form-field>

                        <!-- maLoaiNguoiDung -->
                        <div>
                            <mat-radio-group class="form-group" required formControlName="maLoaiNguoiDung">
                                <mat-label>User type: </mat-label>
                                <mat-radio-button value="Teacher" disabled>Teacher </mat-radio-button>
                                <mat-radio-button value="Student">Student </mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <span class="noSignUp">{{noSignUp}}</span>

                        <!-- button -->
                        <div style="text-align: center;">
                            <button mat-raised-button color="primary" type="submit" [disabled]="dataService.form.invalid">Submit</button>
                            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #infoUser>
    <div class="backGroundsignUp">
        <div class="wrapSignUp">
            <div class="container">
                <h5>Your Infomation</h5>
                <table>
                    <thead>
                        <tr>
                            <td>User Name: </td>
                            <td>{{noInfo.hoTen}}</td>
                        </tr>
                        <tr>
                            <td>Account: </td>
                            <td>{{noInfo.taiKhoan}}</td>
                        </tr>
                        <tr>
                            <td>Password: </td>
                            <td>{{noInfo.matKhau}}</td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                            <td>{{noInfo.email}}</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>{{noInfo.soDT}}</td>
                        </tr>
                        <!-- <tr>
                            <td>User type:</td>
                            <td>{{noInfo.maLoaiNguoiDung}}</td>
                        </tr> -->
                        <tr>
                            <td>Group:</td>
                            <td>{{noInfo.maNhom}}</td>
                        </tr>
                    </thead>
                </table>
                <div style="text-align: center;">
                    <button mat-raised-button color="primary" routerLink="/signin">Go to sign in</button>
                    <button mat-raised-button color="warn" routerLink="/">Back home</button>
                </div>
            </div>
        </div>
    </div>


</ng-template>
