<div class="container">
    <h1>User Lists</h1>
    <div class="courses">
        <span>User Group: </span>
        <mat-form-field class="form-group">
            <mat-label>User Group</mat-label>
            <mat-select>
                <mat-option (click)="chonNhom(maNhom)" *ngFor="let maNhom of mangMaNhom" value="{{ maNhom }}">
                    {{ maNhom }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- search và clear search -->
    <ng-container class="search-div">
        <button mat-raised-button color="primary" (click)="addUser()">Create a user</button>
        <mat-form-field class="search" floatLabel="never">
            <input (keyup)="applySearch()" matInput placeholder="Search" [(ngModel)]="searchKey">
            <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
        </mat-form-field>
    </ng-container>
    <!-- search và clear search -->

    <table mat-table [dataSource]="mangNguoiDung" class="mat-elevation-z8" matSort>

        <!-- taiKhoan -->
        <ng-container matColumnDef="taiKhoan">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>User Name</th>
            <td mat-cell *matCellDef="let user">{{ user.taiKhoan }}</td>
        </ng-container>

        <!-- maLoaiNguoiDung -->
        <ng-container matColumnDef="maLoaiNguoiDung">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let user">{{ user.maLoaiNguoiDung }}</td>
        </ng-container>

        <!-- tenLoaiNguoiDung -->
        <ng-container matColumnDef="tenLoaiNguoiDung">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Type Name</th>
            <td mat-cell *matCellDef="let user">{{ user.tenLoaiNguoiDung }}</td>
        </ng-container>

        <!-- matKhau -->
        <ng-container matColumnDef="matKhau">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Password</th>
            <td mat-cell *matCellDef="let user">{{ user.matKhau }}</td>
        </ng-container>

        <!-- email -->
        <ng-container matColumnDef="email">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let user">{{ user.email }}</td>
        </ng-container>

        <!-- hoTen -->
        <ng-container matColumnDef="hoTen">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let user">{{ user.hoTen }}</td>
        </ng-container>

        <!-- soDT -->
        <ng-container matColumnDef="soDT">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let user">{{ user.soDt }}</td>
        </ng-container>

        <!-- maNhom -->
        <ng-container matColumnDef="maNhom">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Groups</th>
            <td mat-cell *matCellDef="let user">{{user.maNhom}}</td>
        </ng-container>

        <!-- xoa -->
        <ng-container matColumnDef="xoa">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let user">
                <button mat-icon-button color="warn" (click)="onDelete(user.taiKhoan)">
          <mat-icon>delete</mat-icon>
        </button>
            </td>
        </ng-container>
        <ng-container *ngIf="error">{{error}}</ng-container>

        <!-- capNhat -->
        <ng-container matColumnDef="capNhat">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let user">
                <button mat-icon-button color="primary" (click)="onEdit(user)">
          <mat-icon>backup</mat-icon>
        </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator class="PageSort" [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>


<div class="container">
    <h1>Edit User</h1>
    <form [formGroup]="dataService.formEdit" (ngSubmit)="handleEditUser()">

        <div class="controles-container">

            <!-- taiKhoan -->
            <mat-form-field class="form-group">
                <mat-label>Account</mat-label>
                <input matInput disabled value={{dataService.formEdit.value.taiKhoan}} />
                <mat-error *ngIf="dataService.formEdit.controls['taiKhoan'].errors?.required">Do not empty!!!</mat-error>
                <mat-error *ngIf="dataService.formEdit.controls['taiKhoan'].errors?.minlength">Just 3 to 15 characters</mat-error>
            </mat-form-field>

            <!-- matKhau -->
            <mat-form-field class="form-group">
                <mat-label>Password</mat-label>
                <input matInput required formControlName="matKhau" />
                <mat-error *ngIf="dataService.formEdit.controls['taiKhoan'].errors?.required">Do not empty!!!</mat-error>
                <mat-error *ngIf="dataService.formEdit.controls['taiKhoan'].errors?.minlength">Just 3 to 15 characters</mat-error>
            </mat-form-field>
            <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  -->

            <!-- hoTen -->
            <mat-form-field class="form-group">
                <mat-label>User Name</mat-label>
                <input matInput required formControlName="hoTen" />
                <mat-error *ngIf="dataService.formEdit.controls['taiKhoan'].errors?.required">Do not empty!!!</mat-error>
                <mat-error *ngIf="dataService.formEdit.controls['taiKhoan'].errors?.minlength">Just 3 to 15 characters</mat-error>
            </mat-form-field>

            <!-- maNhom -->
            <mat-form-field class="form-group">
                <mat-label>Group</mat-label>
                <mat-select disabled value={{dataService.formEdit.value.maNhom}}>
                    <mat-option *ngFor="let maNhom of mangMaNhom" value="{{ maNhom }}">
                        {{ maNhom }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- email -->
            <mat-form-field class="form-group">
                <mat-label>Email</mat-label>
                <input matInput required formControlName="email" />
                <mat-error *ngIf="dataService.formEdit.controls['taiKhoan'].errors?.required">Do not empty!!!</mat-error>
                <mat-error *ngIf="dataService.formEdit.controls['taiKhoan'].errors?.minlength">Just 3 to 15 characters</mat-error>
            </mat-form-field>

            <!-- soDT -->
            <mat-form-field class="form-group">
                <mat-label>Phone</mat-label>
                <input matInput required formControlName="soDT" />
                <mat-error *ngIf="dataService.formEdit.controls['taiKhoan'].errors?.required">Do not empty!!!</mat-error>
                <mat-error *ngIf="dataService.formEdit.controls['taiKhoan'].errors?.minlength">Just 3 to 15 characters</mat-error>
            </mat-form-field>

            <!-- maLoaiNguoiDung -->
            <div>
                <mat-radio-group class="form-group" required formControlName="maLoaiNguoiDung">
                    <mat-label>User type: </mat-label>
                    <mat-radio-button value="GV">Teachers </mat-radio-button>
                    <mat-radio-button value="HV">Students </mat-radio-button>
                </mat-radio-group>
            </div>


            <!-- button -->
            <div style="text-align: center;">
                <button mat-raised-button color="primary" type="submit" [disabled]="dataService.formEdit.invalid">Submit</button>
            </div>
        </div>

    </form>
</div>