<hr>
<!-- <footer>
  <div>
    <div>
      <div>
        <ul>
          <li>Coursera</li>
          <li>About</li>
          <li>What we offer</li>
          <li>Leadership</li>
          <li>Careers</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Community</li>
          <li>Blog</li>
          <li>Help and Support</li>
          <li>Affiliate</li>
          <li>Contact us</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>More</li>
          <li>Privacy policy</li>
          <li>Get the app</li>
          <li>Sitemap</li>
        </ul>
      </div>
    </div>
    <div>
      <button mat-button>English</button>
    </div>
  </div>
  <div>
    <div>
      <img routerLink=""
        src="https://store-images.s-microsoft.com/image/apps.9402.13510798886776881.facce3fe-0215-473a-910f-5e8f66e4cbc7.4443c76d-e87e-4814-97c1-0c06d59c6dfe?mode=scale&q=90&h=300&w=300"
        alt="">
    </div>
    <div><span>
        © 2021 Coursera Inc. All rights reserved
      </span></div>
  </div>
</footer> -->

<div>
  <img routerLink=""
    src="https://store-images.s-microsoft.com/image/apps.9402.13510798886776881.facce3fe-0215-473a-910f-5e8f66e4cbc7.4443c76d-e87e-4814-97c1-0c06d59c6dfe?mode=scale&q=90&h=300&w=300"
    alt="">
</div>

