@import '../../../assets/scss/container.scss';
@import '../../../assets/scss/index.scss';

.dashboard {
    background: url();
    background-size: cover;
    height: 70vh;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    h5 {
        font-size: 30px;
        color: #3f51b5;
        font-weight: 500;
        text-align: center;
    }
    .cardGroup {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        mat-card {
            max-width: 400px;
            button {
                margin-right: 5px;
                ::ng-deep .mat-button-wrapper{
                    font-size: 2rem;
                }
            }
        }
    }
    .menuGroup {
        text-align: center;
        display: none;
    }
    .infoCourse, .infoClient {
      text-align: center;
      font-size: 1rem;
        min-width: 190px;
        padding: 20px;
        margin: 5px;
        background: $background-3;
        border: $border;
        border-radius: $boderR5;
        box-shadow: rgb(63 81 181) 0px 6px 15px 0px;
    }
    .length {
        color: #3f51b5;
        font-weight: bold;
        font-size: 2rem;
    }
}

@media (max-width : 900px) {
    .cardGroup{
        display: none !important;
    }
    .menuGroup {
        display: block !important;
    }

}
