<div class="dashboard">
  <div class="container">
    <h5>Admin Page</h5>
    <div class="cardGroup">
      <!-- Chọn nhóm -->
      <div class="courses">
        <mat-form-field class="form-group">
          <mat-label>Group</mat-label>
          <mat-select>
            <mat-option (click)="getGroupCode(maNhom)" *ngFor="let maNhom of mangMaNhom" value="{{ maNhom }}">
              {{ maNhom }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
        <div class="infoCourse">
          <p>Courses available </p>
          <p>Groups : {{this.maNhom}}</p>
          <p>Amounts: <span class="length">{{this.listCourse}}</span> class</p>
      </div>
        <div class="infoClient">
          <p>Registered students</p>
          <p>Groups : {{this.maNhom}}</p>
          <p>Amounts : <span class="length">{{this.listClient}} </span> user</p>
      </div>
    </div>
  </div>
</div>
